/* App Properties */
body {
    margin: 5;
    font-family: sans-serif;
}

/* NavBar Prperties */
.nav {
    padding: 30px;
}

.dark-mode {
    position: absolute;
    right: 250px;
    top: 43px;
    background-color:#555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.project-collection {
    position: absolute;
    right: 25px;
    top: 45px;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.save-button {
    position: absolute;
    right: 385px;
    top: 43px;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.home-button {
    position: absolute;
    right: 150px;
    top: 43px;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
}

.home-button:hover, .clear-button:hover, .save-button:hover, .project-collection:hover, .dark-mode:hover{
    background-color: #175eed;
}

.clear-button {
    position: absolute;
    right: 475px;
    top: 43px;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
}

/* Text Editor Properties */
.editor-panel {
    position: absolute;
}

.frame {
    position: absolute;
    right: 0px;
    margin: 1%;
    width: 60%;
    height: 77%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 6px 19px 4px #dfdfdf;
}

.information-container{
    text-align: center;
}

/* cards */
.header {
    font-weight: 700;
}

.card{
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    padding: 1em;
    margin: 1em;
    float: left;
}

.content-container{
    width: 33%;
    display: flex;
}

.x-icon {
    cursor: pointer;
    position: relative;
    left: 85%;
    font-size: 22px;
}

.edit-icon {
    cursor: pointer;
    position: relative;
    left: 80%;
    font-size: 24px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
}

.collection-header {
    text-align: center;
}

.logo-icon{
    color: black;
    font-size: 61px;
    position: absolute;
    top: 1%;
}



