/* App Properties */
body {
    margin: 5;
    font-family: sans-serif;
}

/* NavBar Prperties */
.nav {
    padding: 30px;
}

.dark-mode {
    position: absolute;
    right: 150px;
    top: 15px;
    background-color:#555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.project-collection {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.save-button {
    position: absolute;
    right: 283px;
    top: 15px;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.home-button {
    position: absolute;
    right: 375px;
    top: 15px;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
}

.clear-button {
    position: absolute;
    right: 500px;
    top: 15px;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
}

/* Text Editor Properties */
.editor-panel {
    position: absolute;
}

/* Display Properties */
/* .frame {
    position: absolute;
    right: 0px;
    width: 60%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;

} */
.frame {
    position: absolute;
    right: 0px;
    margin: 1%;
    width: 60%;
    height: 77%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 6px 19px 4px #dfdfdf;
}

.information-container{
    text-align: center;
}

/* cards */

.header {
    font-weight: 700;
}

.card{
    border: 1px solid gray;
    border-radius: 5px;
    width: 15%;
    padding: 1em;
    margin: 1em;
    float: left;
}

.content-container{
    width: 100%;
    float: left;
    display: inline-block;
}

.clear-all {
    position: absolute;
    /* right: 375px; */
    top: 13px;
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.x-icon {
    color: black;
    font-weight: 900 ;
    margin-left: 86%;
    cursor: pointer;
}